.events-page-events-section-component {
  padding-top: $header-height;
  
  .event-component:first-of-type {
    margin-top: 0px;
  }

  .big-section-header {
    height: 300px;
    margin-bottom: 30px;
  }
}