.event-component {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 50px;
  box-shadow: $shadow-blurry;
  padding: 2rem 3.2rem 4rem 2rem;
  @media screen and (max-width: 1088px) {
    padding: 1rem 2.2rem 1rem 2rem;
    box-shadow: none;
  }  

  @media screen and (max-width: 630px) {
    padding: 1rem 2.2rem 1rem 1rem;
    box-shadow: none;
  }   

  padding-bottom: 31px;
  border-radius: .6rem;

  .event-date-container {
    flex: .2;
    flex-direction: column;
    justify-content:  center;
    align-items:  center;
    text-align: center;
    border-top: 2px solid $tertiary;

    p {
      margin: 0;
      color: #9999;
    }

    .event-month {
      padding-top: 3px;
      font-size: 12px;
    }

    .event-day {
      font-size: 20px;
      line-height: 14px;
    }

  }

  .event-image {
    display: flex;
    flex: 3;
    padding: 0;
    @media screen and (max-width: 930px) {
      display: none;
    }   

    img {
      height: auto;
      width: 100%;
      border-top-left-radius: .6rem;
    }
  }

  .event-content {
    display: flex;
    flex-direction: column;

    .content {
      @media screen and (max-width: 930px) {
        padding-right: 1%;
      }  

      p {
        @media screen and (max-width: 930px) {
          font-size: 14px;
        } 

        @media screen and (max-width: 630px) {
          font-size: 12px;
        } 
      }
    }

    h2 {
      color: $primary;
      padding-right: 5%;
      @media screen and (max-width: 930px) {
        font-size: 25px;
      }  

      @media screen and (max-width: 630px) {
        font-size: 22px;
      }  
    }

    h3 {
      color: $secondary;
      padding-right: 5%;
      @media screen and (max-width: 930px) {
        font-size: 20px;
      } 

      @media screen and (max-width: 630px) {
        font-size: 17px;
      } 
    }

    h2, h3 {
      font-weight: 300;
      margin: 0;
    }

    flex: 4;
    padding: 0 1.5rem;
    
    .learn-more-button-container {
      max-width: 150px;
    }
  }
}