.event-component {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 100px;

  .event-image {
    display: flex;
    flex: 3;
    padding: 0;

    img {
      height: auto;
      width: 100%;
    }
  }

  .event-content {
    display: flex;
    flex-direction: column;

    h2 {
      color: $primary;
    }

    h3 {
      color: $secondary;
    }

    h2, h3 {
      font-weight: 300;
      margin: 0;
    }

    flex: 4;
    padding: 0 1.5rem;
    
    .learn-more-button-container {
      max-width: 150px;
    }
  }
}