.hero-section-component {
  background: url(../../assets/images/hero-image.png) no-repeat center top;
  background-size: cover !important;
  background-color: $secondary;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .button-container {
      position: relative;
      top: 20px;
    }

    h1.huge-font {
      text-shadow: $shadow-dark;
      font-size: 400%;
      z-index: 9999;
      color: #fff;
      margin: 0;
    }

    h3 {
      text-shadow: $shadow-dark;
      font-size: 180%;
      color: #fff;
      margin: 0;
    }
  }


}
