.hero-section-component {
  background: url(../../assets/images/hero-image.png) no-repeat center top;
  background-size: cover !important;
  background-color: $secondary;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .button-container {
      position: relative;
      top: 20px;
    }

    h1.huge-font {
      font-size: 500%;
      color: #fff;
      margin: 0;
      @media screen and (max-width: 920px) {
        font-size: 400%;
      }

      @media screen and (max-width: 625px) {
        font-size: 300%;
      }

      @media screen and (max-width: 625px) {
        font-size: 280%;
      }
    }

    h3 {
      font-size: 180%;
      color: #fff;
      margin: 0;
      @media screen and (max-width: 920px) {
        font-size: 170%;
      }

      @media screen and (max-width: 625px) {
        font-size: 160%;
      }

      @media screen and (max-width: 625px) {
        font-size: 150%;
      }
    }
  }


}
