.mailing-list-section-component {
  background-color: $secondary-background-color;
  
  .mailing-list-section-header {
    height: 400px;

    .section-header-container{
      height: 250px;
      @media screen and (max-width: 930px) {
        height: auto;

        .section-header-text-container {
          margin-bottom: 15px;          
        }
      }
    }
  }

  .input-row {
    width: 45%;
    @media screen and (max-width: 930px) {
      flex-direction: column;
      align-items: normal;
      justify-content: space-around;
      width: auto;
    }

    .email-input-container {
      display: flex;
      flex: 5;
      width: 100%;
      @media screen and (max-width: 930px) {
        margin-bottom: 15px;
      }

      .input-container {
        width: 100%;
      }
    }

    .add-button-container {
      display: flex;
      flex: 3;
      justify-content: flex-end;

      button {
        @media screen and (max-width: 930px) {
          margin-left: 0px;
        }
      }
      
      .button-container {
        width: 100%;
        padding-left: 30px;
        @media screen and (max-width: 930px) {
          padding-left: 0px;
        }
      }
    }
  } 
}

.is-in-modal {
  height: 100%;
  justify-content: space-around;

  .section-header-container {
    height: 100%;
    justify-content: space-around;
    
    h1 {
      font-size: 2.0rem;
    }

    .input-row {
      flex-direction: column;
      align-items: normal;
      justify-content: space-around;

      .email-input-container {
        width: 15rem;
      }

      .add-button-container {
        button {
          margin-left: 0px;
        }

        .button-container {
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }
    }

    .links-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 20%;
      font-size: 25px;
      margin-top: 5px;
      
      a {
        color: $primary;
        opacity: 1;

        &:hover {
          opacity: .8;
        }
      }
    }  
  }
}