.mission-statement-section-component {
  padding: 80px 0;

  .title {
    text-align: center;
    padding: 0 10%;
    color: $primary;
  }

  .sub-title {
    padding: 0 35%;
    text-align: center;
  }
}