.mission-statement-section-component {
  padding-top: 100px;

  .title {
    text-align: center;
    padding: 0 10%;
    color: $primary;
  }

  .sub-title {
    padding: 0 35%;
    font-weight: bold;
    text-align: center;
  }
}