.button-container {
  display: flex;
}

.button-component {
  border-radius: 40px;
  padding: 9px 30px;
  outline: none;
  text-align: center;
  width: 100%;
  background-color: transparent;
  transition: all 0.2s;
  border: transparent 2px solid;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }

  .down-arrow {
    position: relative;
    left: 5px;
    bottom: 3px;
  }
}

.is-ghost {
  border: $primary 2px solid;
  background-color: transparent;
  color: $primary;
  transition: all 0.2s;

  &:hover {
    color: $primary;
  }
}

.is-raised {
  background-color: $primary;
  border: $primary 2px solid;
  transition: all 0.2s;
  
  &.button-white {
    background-color: #fff;
  }

  color: #fff;

  &:hover {
    color: #fff;
  }
}

.has-shadow {
  box-shadow: $shadow;
  transition: all 0.2s;

  &.dark-shadow {
    box-shadow: $shadow-dark;
  }
}

.button-secondary {
  border: $secondary 2px solid;
  color: $secondary;
  transition: all 0.2s;

  &:hover {
    color: $secondary;
  }
}

.button-white {
  border: #fff 2px solid;
  color: #fff;
  transition: all 0.2s;

  &:hover {
    color: #fff;
  }
}



