.footer-component {
  background-color: $secondary-dark;
  height: 80px;
  padding: 0px;
}

.footer-text {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
  background: $secondary-dark
}