

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/components/_all.sass";
@import "~bulma/sass/base/generic.sass";
@import "~bulma/sass/base/helpers.sass";
@import "./reset.sass";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import "variables.scss";
@import "../common/index.scss";
@import "../components/index.scss";

@font-face {
  font-family: 'Futura';
  src: url('../../assets/fonts/futura-light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

html, * {
  font-family: 'Futura', 'Nunito', sans-serif;
  font-weight: 300;
}

body, button, input, select, textarea {
  font-family: 'Futura', 'Nunito', sans-serif;
}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
    border-color: transparent;

}

.title {
  font-weight: 300;
}