// brand colors
$primary: #00BBE5;
$secondary: #005D85;
$secondary-dark: #00374D;

// misc
$secondary-background-color: #fafafa;

// shadows
$shadow: 0 1px 3px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
$shadow-left-skewed: -1px 3px 3px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.2);