// brand colors
$primary: #0086BD;
$secondary: #005D85;
$secondary-dark: #00374D;
$tertiary: #f9ac3a;

// misc
$secondary-background-color: #fafafa;

// shadows
$shadow: 0 1px 3px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
$shadow-left-skewed: -1px 3px 3px rgba(0, 0, 0, 0.1), -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
$shadow-blurry: 0 1.2rem 3.6rem rgba(0,0,0,.2);
// dimensions
$header-height: 80px;
